{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "no-return-assign": 0,
    "quotes": 0
  },
  "extends": [
    "standard"
  ]
}
